<%- page_name = @spot.new_record? ? "新規登録" : "情報編集" -%>
<div class="page-header">
  <h1>スポット<%= page_name %>(確認画面）</h1>
</div>

<%= render :partial => 'spot' %>

<div class="buttonGroup">
<%= render :partial => 'button_to_back' %>
<%= render :partial => 'button_to_save' %>
</div>


