<div class="page-header">
  <h1>フットサルコート新規登録<br />
  <small>あなたの知ってる都内のフットサルコート情報を追加しよう！</small></h1>
</div>

<%= form_for [ :confirm, @spot ] do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<% end %>




