<p id="notice"><%= notice %></p>

<%= render :partial => 'spot' %>

<div class="buttonGroup">
<%= button_to 'Top', spots_path, :method => :get, :class => "btn btn-success btn-sm" %>
<%= button_to '編集', edit_spot_path, :method => :get, :class => "btn btn-primary btn-sm" if current_user.id == @spot.user_id %>
</div>
