<div class="jumbotron">
  <h1>Welcome to SeatIn!</h1>
  <p>In this site, you can make an original map is placed your favorite places.</p>
  <p>For example, you can make an original list of footsal court in Sibuya-ku.</p>
  <p>Let's try to use our web site, thanks.</p>
  <p class="lead" align="right"><span class="glyphicon glyphicon-copyright-mark"></span>Kazuto Kawamura<p>
  <p><%= link_to "Go Top!", {:controller => "spots", :action => "index"}, {:class => "btn btn-info btn-lg", :role => "button"} %></p>
</div>
